.content-registro{
    margin-top: 2em;
    margin: 0 auto;
    padding: 1em;
    width: 95%;
}
.registro-section{
    padding: 1em;
}
.inputUsuario{
    color: rgba(40, 58, 90, 0.9);
    margin-right: 1em;
}
.oculto{
    background-color: rgba(255, 0, 0, 0);
    border: none;
}
.select-box{
    min-width: 100%;
}
.div-btn-registro{
    margin-top: 2em;
    text-align: right;
}
.btn-registro{
    background: rgba(40, 58, 90, 0.9);
}
.btn-registro:hover{
    background: rgba(22, 149, 187, 0.9);
}